@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  & > .simple-message {
    padding: 0 1rem;
  }
}

@import './components/editor/MarkdownEditor.scss';
